[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Spin is an open source framework for building and running fast, secure, and composable cloud microservices with WebAssembly
[access "refs/*"]
	owner = group user/Lann (lann)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Lann (lann)
	label-Verified = -1..+1 group user/Lann (lann)
	push = group user/Lann (lann)
	read = group user/Lann (lann)
	rebase = group user/Lann (lann)
	removeReviewer = group user/Lann (lann)
	submit = group user/Lann (lann)
[access "refs/heads/*"]
	create = group user/Lann (lann)
	push = +force group user/Lann (lann)
	pushMerge = group user/Lann (lann)
	read = group user/Lann (lann)
[access "refs/tags/*"]
	push = group user/Lann (lann)
	push = +force group user/Lann (lann)
